*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#f3f3f3;
    height: 10000px;
}
#topbanner>div{
    width: fit-content;
    position: relative;
    margin: auto;
}
#topdiv{
    width: auto;
    position: absolute;
    background-color: white;
    bottom: 10px;
    left: 10px;
    width: auto;
    min-width: 380px;
    padding: 20px 25px;
}
#topbanner>div>img{
    height: 600px;
    width:1200px;
}
#topdiv>a{
    text-decoration: none;
    color: black;
}
#topdiv>p{
margin-top: 15px;
margin-bottom: 20px;
}
/* middle part */
#midDiv{
    margin-top: 110px;
    text-align: center;
}
#midDiv>div{
    display: flex;
    position: relative;
    width: fit-content;
    gap: 250px;
    margin: auto;
   
}
#midDiv1>div:nth-child(1){
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    min-width: 340px;
    width: auto;
    height: 550px;
    left: 380px;
    bottom: 250px;
}
#midDiv1>div:nth-child(1)>p{
    margin-top: 30px;
    margin-bottom: 20px;
    color: grey;
    font-size: 16px;
}
#midDiv1>div:nth-child(1)>a:last-child{
    margin-top: 80px;
    text-decoration: underline;
    font-weight: normal;
    color:grey;
}
#midDiv1>div:nth-child(1)>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 15px;
}
#midDiv1>div>h1{
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
}
#midDiv1>div>p{
    font-size: 20px;
    color: grey;
}
/* NEW ARRIVAL PART */
#midDiv+div{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.header{
    margin-bottom: 28px;
    margin-top: 70px;
    font-size: 32px;
}
#newarrival{
    margin-top: 100px;
    height: 400px;
    display: flex;
    text-align: center;
}
#newarrival>div>img{
    width: 306px;
    height: 390px;
}

/* second div */
#secondmid{
    text-align: center;
    display: flex;
    margin-top: 200px;
    padding: 100px 0px 50px 0px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} 
#secondmid>div{
    display: flex;
    margin: auto;
    gap: 20px;
}
#secondmid>div>div>img{
    width: 350px;
    height: 421px;
}
#secondmid>div>div:nth-child(2){
    width: 342px;
    position: relative;
    bottom: 30px;
}
#secondmid>div>div:nth-child(2)>img{
width: 100%;
height: 477px;
}
#secondmid>div>div>h2{
    margin: 20px 0px 15px 0px;
}
#secondmid>div>div>p{
    color: grey;
}

/* bottom part */
#secondmid+div{
    text-align: center;
}
#bottom{
    display: flex;
    text-align: center;
}
#bottom>div>img{
    width: 306px;
    height: 390px;
}
/* 2nd bottom part */
#bottomMid>div{
    width: fit-content;
    position: relative;
    margin: auto;
    display: flex;
}
#bottomMid>div>div:nth-child(2){
    width: auto;
    position: absolute;
    background-color: white;
    bottom: 10px;
    left: 10px;
    width: auto;
    min-width: 380px;
    padding: 20px 25px;
}


/* bottom end part */
#bottomEnd{
    display: flex;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
}
#bottomEnd>div{
    display: flex;
    position: relative;
}
#bottomEnd>div>div:nth-child(1)>img{
    width:503px;
    height: 464px;
 }
#bottomEnd>div>div:nth-child(2){
    background-color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 20px 25px;
    width: auto;
    min-width: 350px;
}
#bottomEnd>div>div:nth-child(2)>p{
    margin: 15px 0px 20px 0px;
}

 
