*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#f3f3f3;
    height: 10000px;
}
#topbanner>div{
    width: fit-content;
    position: relative;
    margin: auto;
}
#topdiv{
    width: auto;
    position: absolute;
    background-color: white;
    bottom: 10px;
    left: 10px;
    width: auto;
    min-width: 380px;
    padding: 20px 25px;
}
#topbanner>div>img{
    height: 600px;
    width:1200px;
}
#topdiv>a{
    text-decoration: none;
    color: black;
}
#topdiv>p{
margin-top: 15px;
margin-bottom: 20px;
}
/* middle part */
#midDiv{
    margin-top: 150px;
    text-align: center;
}
#midDiv>div{
    display: flex;
    position: relative;
    width: fit-content;
    gap: 250px;
    margin: auto;
}
#midDiv1>div:nth-child(3)>h1{
    font-size: 24px;
}
#midDiv1>div:nth-child(2)>h1{
    font-size: 24px;
}
#midDiv1>div:nth-child(1){
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    min-width: 340px;
    width: auto;
    height: 550px;
    left: 380px;
    bottom: 250px;
}
#midDiv1>div:nth-child(1)>p{
    margin-top: 30px;
    margin-bottom: 20px;
    color: grey;
    font-size: 16px;
}
#midDiv1>div:nth-child(1)>a:last-child{
    margin-top: 80px;
    text-decoration: underline;
    font-weight: normal;
    color:grey;
}
#midDiv1>div:nth-child(1)>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 15px;
}
#midDiv1>div>h1{
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
}
#midDiv1>div>p{
    font-size: 20px;
    color: grey;
}
/* NEW ARRIVAL PART */
#midDiv+div{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.header{
    margin-bottom: 28px;
    margin-top: 70px;
    font-size: 32px;
}
#newarrival{
    display: flex;
    margin: auto;
    gap: 320px;
    width: fit-content;
    position: relative;
    text-align: center;
}
#newarrival>div{
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 280px;
    height: 500px;
    background-color:white;
}
#newarrival>div>img{
    width:100%;
}
#newarrival>button{
    position: absolute;
    top: 50%;
    right: -30px;
    font-size: 25px;
    width: 50px;
    background-color: rgba(77,77, 77, 0.8);
    height: 50px;
    border-radius: 50%;
}
#newarrival>button:last-child{
    left:-30px;
}
#newarrival>div:nth-child(2){
    position: absolute;
    bottom: 50px;
    left: 300px;
}
/* second div */
#secondmid{
    text-align: center;
    display: flex;
    margin-top: 200px;
    padding: 100px 0px 50px 0px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} 
#secondmid>div{
    display: flex;
    margin: auto;
    gap: 20px;
}
#secondmid>div>div>img{
    width: 350px;
    height: 421px;
}
#secondmid>div>div:nth-child(2){
    width: 342px;
    position: relative;
    bottom: 30px;
}
#secondmid>div>div:nth-child(2)>img{
width: 100%;
height: 477px;
}
#secondmid>div>div>h2{
    margin: 20px 0px 15px 0px;
}
#secondmid>div>div>p{
    color: grey;
}
#secondmid+div>a{
    margin-bottom: 50px;
}
/* bottom part */
#secondmid+div{
    text-align: center;
}
#bottom{
    display: flex;
    margin: auto;
    width: fit-content;
    gap: 320px;
    position: relative;
    text-align: center;
}
#bottom>div{
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 280px;
    height: 500px;
    background-color:white;
}
#bottom>div>img{
    width: 100%;
}
#bottom>button{
    position: absolute;
    top: 50%;
    right: -30px;
    font-size: 25px;
    width: 50px;
    background-color: rgba(77,77, 77, 0.8);
    height: 50px;
    border-radius: 50%;
}
#bottom>button:last-child{
    left:-30px;
}
#bottom>div:nth-child(2){
    position: absolute;
    bottom: 50px;
    left: 300px;
}
/* 2nd bottom part */
#bottomMid{
    margin-top: 100px;
}
#bottomMid>div{
    width: fit-content;
    position: relative;
    margin: auto;
    display: flex;
}
#bottomMid>div>div:nth-child(2){
    width: auto;
    position: absolute;
    background-color: white;
    bottom: 10px;
    left: 10px;
    width: auto;
    min-width: 380px;
    padding: 20px 25px;
}
#craousal{
    text-align: center;
    width: 281px;
    background-color: white;
    height:500px;
    top: 70px;
    right: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}
#craousal>p{
 margin-top: 20px;
 margin-bottom: 10px;   
}
#craousal>img{
    width: 100%;
}
#bottomMid>div>button{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: rgba(77,77, 77, 0.8);
    border-radius: 50%;
    top: 82%;
    right: 330px;
}
#bottomMid>div>button:nth-child(5){
    right: 120px;
}
/* bottom end part */
#bottomEnd{
    display: flex;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
}
#bottomEnd>div{
    display: flex;
    position: relative;
}
#bottomEnd>div>div:nth-child(1)>img{
    width:550px;
    height: 484px;
 }
#bottomEnd>div>div:nth-child(2){
    background-color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 20px 25px;
    width: auto;
    min-width: 350px;
}
#bottomEnd>div>div:nth-child(2)>p{
    margin: 15px 0px 20px 0px;
}

 
