* {
    margin: 0;
    padding: 0;
}
#main{
    
    width: 100%;
    margin-bottom: 10px;
    
}

#mainLoginBar {
    width: 100%;
    height: 30px;
    border: 1px solid rgb(232, 228, 228);
    background-color: white;
}

#mainLoginBar>div {
    margin-left: 540px;
    width: 50%;
    height: 30px;
    border: 1px solid transparent;
    display: flex;
}

#mainLoginBar>div>div:nth-child(1) {
    width: 25%;
    height: 30px;
    border: 1px solid transparent;
}

#mainLoginBar>div>div:nth-child(2) {
    width: 50%;
    height: 30px;
    border: 1px solid transparent;
    margin-top: -20px;margin-left: -160px;
}

#mainLoginBar>div>div:nth-child(2)>p {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
    color: rgb(22, 20, 20);
    font-weight: bold;
}

#mainLoginBar>div>div:nth-child(3) {
    width: 25%;
    height: 30px;
    border: 1px solid transparent;
}

#states>span:first-child {
    font-size: 10px;
    margin-left: -310px;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#states>span:last-child {
    font-size: 10px;
    margin-left: 10px;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#login>span:first-child {
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    font-weight: bold;
    
}

#login>span:last-child {
    font-size: 10px;
    text-decoration: underline;
    margin-left: 6px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#mainLogoBar {
   
    height: 90px;
    width: 100%;
    width: 100vw;
    border: 0px solid;
    background-color: white;
}

#mainLogoBar>div:first-child {
    height: 60px;
    width: 100%;
    border: 1px solid transparent;
    margin-left: -240px;
    gap: 15px;
}

#mainLogoBar>div:last-child {
    height: 30px;
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    background-color: rgb(41, 40, 40);
}

#mainLogoBar>div:last-child>P {
   margin-top: -10px;
    color: white;
    font-size: 12px;
    margin-left: 10px;
}

#logo {
    border: 1px solid transparent;
    font-size: 12px;
    display: flex;
}
#logo>span{
    font-weight: bold;
}
#logo>span:nth-child(1) {
    margin-left: 450px;
    margin-top: 20px;
}
#logo>span:nth-child(2),#logo>span:nth-child(3),#logo>span:nth-child(4),#logo>span:nth-child(5) {
    margin-left: 10px;
    margin-top: 20px;
}
#logo>img:nth-child(6){
    margin-left: 180px;
    font-size: 30px;
    font-weight: 100;
    color: transparent;
    height: 80%;
    margin-top: 5px;
}
#logo>span:nth-child(7){
    margin-left: 160px;
    font-size: 16px;
    margin-top: 20px;
}
#logo>span:nth-child(8){
    margin-left: 60px;
    font-size: 16px;
    margin-top: 20px;
}
#logo>span:nth-child(9){
    margin-left: 60px;
    font-size: 16px;
    margin-top: 20px;
}



body{
    background-color: rgb(238, 234, 234);
}
#first{
     width:100%;height: 520px; margin-bottom: 50px;
}
#first>img{
    width: 100%;height: 100%;
}
#tag{
    width: 25%;height: 130px;background-color: white;position: absolute;top: 350px;
    bottom: -20px;
}
#tag>h1{
    padding-left: 20px;font-weight: lighter;font-size: 25px;
}
#tag>p{
    margin-left: -150px;font-size: 22px;font-weight: lighter;
}
#tag>h2{
    padding-left: 20px;font-size: 17px;
}

#designers{
    width: 22%;height: 450px;margin: auto;background-color: white;
    position: absolute;right: 5px;left: 5px;top: 5px;bottom: -1300px;
}
#designers>p{
    font-size: 15px;margin-bottom: -27px;font-weight: bolder;
}
#designers>p:nth-child(1){
    font-size: 15px;margin-bottom: 5px;font-weight: lighter;
}
#designers>p:last-child{
    font-size: 15px;margin-top: 40px;font-weight: bolder;
}
#second{
    width: 100%; height: 700px;
    display: grid;grid-template-columns: repeat(2,30%);grid-template-rows: 100%;
    justify-content: space-around;margin-top: 140px;
    
}


#second>div>img{
    height: 75%; width: 100%;margin: auto;
}
#second>div:nth-child(1)>h1{
    font-size: 25px;padding-left: 90px;padding-top: 20px;padding-bottom: 10px;
}
#second>div:nth-child(2)>h1{
    font-size: 25px; padding-left: 35px;padding-top: 20px;padding-bottom: 10px;
}
#second>div:nth-child(1)>p{
    font-size: 20px;padding-bottom: 20px;color: grey;
}
#second>div:nth-child(2)>p{
    font-size: 20px;padding-left: 70px;padding-bottom: 20px;color: grey;
}
#second>div:nth-child(1)>h2{
    font-size: 17px;padding-left: 130px;
}
#second>div:nth-child(2)>h2{
    font-size: 17px;padding-left: 170px;
}
p{
    text-align: center;font-size: 30px;font-weight: lighter;color: rgb(100, 97, 97);padding: 20px 20px 20px 20px;
}
h3{
    text-align: center;
}

#third{
   width: 85%;height: 600px;display: grid;grid-template-columns: repeat(3,350px);
    grid-template-rows: 100%;margin: auto;justify-content: space-between;margin-bottom: 30px;
}
#third>div{
    background-color: white;
}

#third>div>h2{
    font-size: 20px;text-align: center;
}
#third>div>p{
    font-size: 15px;text-align: center;
}
#third>div>h3{
    font-size: 15px;
}
#third>button{
    position: absolute; background-color:rgba(77,77,77,0.8);bottom: -1100px;border-radius: 100%;
    font-size: 20px;color: white;width: 50px;height: 50px;
}
#third>button:nth-child(1){
    left: 50px;
}
#third>button:nth-child(2){
    right: 50px;
}

#fourth{
    width: 100%;height: 800px;display: grid;grid-template-columns: repeat(3,1fr);
    grid-template-rows: 90%;gap: 20px;background-color: white;
}
#fourth>div{
    margin-top: 50px;
}
#fourth>div:nth-child(1)>img{
    height: 80%;width: 100%;margin-top: 30px;
}
#fourth>div:nth-child(2)>img{
    height: 88%;width: 100%;
}
#fourth>div:nth-child(3)>img{
    height: 80%;width: 100%;margin-top: 30px;
}
#fourth>div>h1{
    font-size: 25px;text-align: center;
}
#fourth>div>p{
    font-size: 20px;text-align: center;
}

#fifth{
   width: 85%;height: 600px;display: grid;grid-template-columns: repeat(3,350px);
    grid-template-rows: 100%;margin: auto;justify-content: space-between;
}
#fifth>div{
    background-color: white;
}

#fifth>div>h2{
    font-size: 20px;text-align: center;
}
#fifth>div>p{
    font-size: 15px;text-align: center;
}
#fifth>div>h3{
    font-size: 15px;
}
#fifth>button{
    position: absolute; background-color:rgba(77,77,77,0.8);border-radius: 100%;bottom: -2600px;
    font-size: 20px;color: white;width: 50px;height: 50px;
}
#fifth>button:nth-child(1){
    left: 50px;
}
#fifth>button:nth-child(2){
    right: 50px;
}

#six{
 width: 230px;height: 400px;margin: auto;background-color: white;
    position: absolute;right: 240px;bottom: -3600px;
}
#six>img{
    height: 50%;width: 80%;margin: auto;
}
#six>h3{
   font-size: 15px;text-align: center;margin-left: -10px;margin-top: 20px;
  }
  #six>p{
    font-size: 15px;margin-bottom: -30px;
  }
  #six>h4{
    font-size: 15px;text-align: center;margin-top: 20px;
  }

  #seven{
    width: 100%;height: 700px;margin-top: 60px;
  }
  #seven>img{
    height: 80%;margin-left: 170px;
  }

  #tagline{
     width: 400px;height: 140px;background-color: white;
    position: absolute;bottom: -3680px;left: 180px;
  }
  #tagline>h1{
    font-size: 27px;text-align: center;margin-left: -22px;
  }
  #tagline>p{
    font-size: 20px;text-align: center;font-weight: lighter;
  }
  #tagline>h2{
    font-size: 14px;margin-left: 25px;
  }

  #eight{
    width: 85%;height: 600px;display: grid;grid-template-columns: repeat(3,350px);
    grid-template-rows: 100%;margin-bottom: 30px;margin: auto;justify-content: space-between;
}
#eight>div{
    background-color: white;
}

#eight>div>h2{
    font-size: 20px;text-align: center;
}
#eight>div>p{
    font-size: 15px;text-align: center;
}
#eight>div>h3{
    font-size: 15px;
}
#eight>button{
    position: absolute; background-color:rgba(77,77,77,0.8);border-radius: 100%;bottom: -4000px;
    font-size: 20px;color: white;width: 50px;height: 50px;
}
#eight>button:nth-child(1){
    left: 50px;
}
#eight>button:nth-child(2){
    right: 50px;
}

#ninth{
 width: 690px;;height: 640px;margin-top: 50px;
}

#tag2{
    width: 30%;height: 130px;background-color: white;position: absolute;bottom: -5200px; left: 10px;
    
}
#tag2>h1{
    padding-left: 20px;font-weight: lighter;font-size: 25px;
}
#tag2>p{
   margin-right: 10px; font-size: 22px;font-weight: lighter;
}
#tag2>h2{
    padding-left: 20px;font-size: 17px;
}

#tenth{
 width: 690px;;height: 640px;margin-top: 50px;position: absolute;right: 10px;bottom: -5220px;
}

#tag3{
    width: 30%;height: 130px;background-color: white;position: absolute;bottom: -5200px; right: 10px;
    
}
#tag3>h1{
    font-weight: lighter;font-size: 25px;text-align: right;padding-right: 20px;
}
#tag3>p{
    font-size: 22px;font-weight: lighter;text-align: right;padding-right: 20px;
}
#tag3>h2{
   font-size: 17px;text-align: right;padding-right: 20px;
}